body{
    background-color: #e0f7fa;
}
.container{
    margin: 0 auto;
    background-color: #ffffff;
    border: 2px  solid #00796b;
    font-family: Arial, sans-serif;
}
link{
    color: #004d40;
}

header{
    display:flex;
    justify-content: space-between;
    border: 2px  solid #00796b;
}

nav ul li{
    display: inline;

}

.main{
    display: flex;
}

.main .sinistra{
    width: 30%;
    border: 1px solid #00796b;
}

.main .destra{
    width: 70%;
    border: 1px solid #00796b;

}

.panino{
    display: none;
}


@media (max-width: 1000px){
    .container{
        width: 700px;
    }
    .panino{
        display:block;
    }
    .hamburger{
        display:block;
    }
    #menu{
        display: none;
    }
}

